## 1.Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
select * from Workers where JOINING_YEAR = 2014 and JOINING_MONTH = 2;

## 2.Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
select * , COUNT(*) from Workers group by EMAIL having COUNT(*) > 1;

## 3.How to remove duplicate rows from Employees table.

In [ ]:
delete e from Employee e
join Employee e2
where e.Id > e2.Id
and e.Email = e2.Email;