## 1.Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
SELECT salary from Employee e1 where 
        4 = (SELECT COUNT(DISTINCT salary)from Employee e2 where e2.salary > e1.salary)

## 2.Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
Select DISTINCT w.Id, w.Salary 
from Worker w, Worker w1 
where w.Salary = w1.Salary 
and w.Id != w1.Id;