## 1.Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
select * from Table limit 10;

## 2.Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
select * from ((select * from Table order by salary desc 5) as T) order by T.salary limit 1;